.App {
  background: #FFF;
}

.App-header {
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: calc(24px);
}

.console {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
  margin: 0 20px 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.console-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 24px;
}

.console-controls {
  padding: 3px 5px;
  position: absolute;
}

.console-controls-control {
  display: inline-block;
  background: #fff;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
}

.console-header p {
  text-align: center;
  color: #FFF;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
  font-weight: bold;
}

.console-content {
  color: #FFF;
  font-family: monospace;
  margin: 5px;
}

.console-content-text {

}

.console-content-prompt {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.console-content-prompt p {
  margin: 0;
  background: transparent;
  border: none;
  color: inherit;
  align-items: stretch;
}

.console-content-prompt input {
  background: transparent;
  border: none;
  color: inherit;
  flex: 1;
  outline: none;
  -webkit-appearance: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding-left: 8px;
}
